4 · Ажилтны төлөв шинэчлэх.json
{
  "name": "Tasks · Staff Status Update (CEO action)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "staff-update",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://chimunllc.github.io"
        }
      },
      "id": "su-webhook-1",
      "name": "Webhook POST /staff-update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 200],
      "webhookId": "staff-update-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Payload: { action: 'update_status', id, status, left_date, joined_date, requested_by, timestamp }\nconst body = $input.first().json.body || {};\nif (body.action !== 'update_status') {\n  return [{ json: { ok: false, error: 'Unknown action' } }];\n}\nif (!body.id || !body.status) {\n  return [{ json: { ok: false, error: 'Missing id or status' } }];\n}\nconst allowed = ['идэвхтэй', 'гарсан', 'нээлттэй', 'чөлөөтэй'];\nif (!allowed.includes(body.status)) {\n  return [{ json: { ok: false, error: 'Invalid status' } }];\n}\nreturn [{\n  json: {\n    'ID': String(body.id),\n    'Төлөв': body.status,\n    'Гарсан огноо': body.left_date || '',\n    'Орсон огноо': body.joined_date || '',\n    requested_by: body.requested_by || 'unknown',\n    timestamp: body.timestamp || new Date().toISOString(),\n  },\n}];"
      },
      "id": "su-validate-1",
      "name": "Validate payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-360, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1so0IBwfok7_Tss3y25a-40qybGe9SGHimkuXrihuWvM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 451955481,
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Төлөв": "={{ $json['Төлөв'] }}",
            "Гарсан огноо": "={{ $json['Гарсан огноо'] }}",
            "Орсон огноо": "={{ $json['Орсон огноо'] }}"
          },
          "matchingColumns": ["ID"],
          "schema": [
            { "id": "ID", "displayName": "ID", "required": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Төлөв", "displayName": "Төлөв", "required": false, "type": "string", "canBeUsedToMatch": false },
            { "id": "Гарсан огноо", "displayName": "Гарсан огноо", "required": false, "type": "string", "canBeUsedToMatch": false },
            { "id": "Орсон огноо", "displayName": "Орсон огноо", "required": false, "type": "string", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "id": "su-sheets-update",
      "name": "Update Master Sheet · Төлөв + Огноо",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, updated: { id: $json.ID, status: $json['Төлөв'], left_date: $json['Гарсан огноо'], joined_date: $json['Орсон огноо'] } }) }}"
      },
      "id": "su-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [120, 200]
    }
  ],
  "connections": {
    "Webhook POST /staff-update": {
      "main": [[{ "node": "Validate payload", "type": "main", "index": 0 }]]
    },
    "Validate payload": {
      "main": [[{ "node": "Update Master Sheet · Төлөв + Огноо", "type": "main", "index": 0 }]]
    },
    "Update Master Sheet · Төлөв + Огноо": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "_setup_instructions": [
    "1. Шинэ JSON-г re-import хийнэ.",
    "",
    "2. Master Sheet-д дараах баганууд байх ёстой:",
    "   - ID",
    "   - Төлөв",
    "   - Гарсан огноо   (шинээр нэмэх — статус 'гарсан' болгоход тэр өдрийн огноо бичигдэнэ)",
    "   - Орсон огноо    (шинээр нэмэх — статус 'идэвхтэй' болгоход)",
    "",
    "3. 'Update Master Sheet · Төлөв + Огноо' node-г нээж:",
    "   - Operation: Update Row",
    "   - Column to Match On: ID",
    "   - Schema-г шинэчлэх (3 цэг → Refresh) — энэ нь Sheet-ийн баганыг автомат уншина",
    "",
    "4. Хоосон утга илгээх логик:",
    "   - 'гарсан' болгоход: Гарсан огноо = өнөөдөр, Орсон огноо = '' (хоосон → утга цэвэрлэхгүй харин шинэчлэгдэнэ)",
    "   - 'идэвхтэй' болгоход: Орсон огноо = өнөөдөр, Гарсан огноо = ''",
    "",
    "   ⚠ Хэрэв хоосон утга бичигдэхийг хүсэхгүй бол Code node дотроос validate-payload хэсэгт",
    "      огноо хоосон бол тус талбарыг payload-ээс delete хийх боломжтой.",
    "",
    "5. Activate → апп руу буцаж тестлэх."
  ]
}
