n8n-workflow-staff-update.json
{
  "name": "Tasks · Staff Status Update (CEO action)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "staff-update",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://chimunllc.github.io"
        }
      },
      "id": "su-webhook-1",
      "name": "Webhook POST /staff-update",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-600, 200],
      "webhookId": "staff-update-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Payload: { action: 'update_status', id, status, requested_by, timestamp }\nconst body = $input.first().json.body || {};\nif (body.action !== 'update_status') {\n  return [{ json: { ok: false, error: 'Unknown action' } }];\n}\nif (!body.id || !body.status) {\n  return [{ json: { ok: false, error: 'Missing id or status' } }];\n}\n// Allowed statuses: идэвхтэй, гарсан, нээлттэй, чөлөөтэй\nconst allowed = ['идэвхтэй', 'гарсан', 'нээлттэй', 'чөлөөтэй'];\nif (!allowed.includes(body.status)) {\n  return [{ json: { ok: false, error: 'Invalid status' } }];\n}\n// Google Sheets node-нд шилжихэд тохирох format\nreturn [{\n  json: {\n    'ID': String(body.id),\n    'Төлөв': body.status,\n    requested_by: body.requested_by || 'unknown',\n    timestamp: body.timestamp || new Date().toISOString(),\n  },\n}];"
      },
      "id": "su-validate-1",
      "name": "Validate payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-360, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1so0IBwfok7_Tss3y25a-40qybGe9SGHimkuXrihuWvM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 451955481,
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.ID }}",
            "Төлөв": "={{ $json['Төлөв'] }}"
          },
          "matchingColumns": ["ID"],
          "schema": [
            { "id": "ID", "displayName": "ID", "required": true, "type": "string", "canBeUsedToMatch": true },
            { "id": "Төлөв", "displayName": "Төлөв", "required": false, "type": "string", "canBeUsedToMatch": false }
          ]
        },
        "options": {}
      },
      "id": "su-sheets-update",
      "name": "Update Master Sheet · Төлөв column",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-120, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, updated: { id: $json.ID, status: $json['Төлөв'] } }) }}"
      },
      "id": "su-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [120, 200]
    }
  ],
  "connections": {
    "Webhook POST /staff-update": {
      "main": [[{ "node": "Validate payload", "type": "main", "index": 0 }]]
    },
    "Validate payload": {
      "main": [[{ "node": "Update Master Sheet · Төлөв column", "type": "main", "index": 0 }]]
    },
    "Update Master Sheet · Төлөв column": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "_setup_instructions": [
    "1. n8n cloud дээр энэ JSON-г import хийнэ.",
    "",
    "2. 'Update Master Sheet · Төлөв column' node-г нээж дараах зүйлсийг шалгана:",
    "   - Document: Master Sheet (1so0IBwfok7_Tss3y25a-40qybGe9SGHimkuXrihuWvM)",
    "   - Sheet: Tab нь GID 451955481 (ажилтны хуудас)",
    "   - Operation: 'Update Row'",
    "   - 'Mapping Column Mode' нь 'Map Each Column Manually'",
    "   - 'Column to Match On' нь 'ID'",
    "   - 'Values to Send' хэсэгт:",
    "        ID    = {{ $json.ID }}",
    "        Төлөв = {{ $json['Төлөв'] }}",
    "",
    "3. Хэрэв sheet schema autodetect хийгдэхгүй бол:",
    "   - Refresh column list (3 цэг → Refresh)",
    "   - Эсвэл 'columns.schema' талбарт бодит баганы нэрсээ оруулах",
    "",
    "4. Google Sheets credential зөв сонгогдсон эсэхийг шалгах.",
    "",
    "5. Workflow Activate хийх.",
    "",
    "6. Аппын Settings-д staffUrl байгаа эсэхийг шалгаад тестлэх:",
    "   - Dashboard → Ажилтан удирдах → ажилтан сонгож 'Гарсан' дарах",
    "   - Google Sheet-д тус мөрийн 'Төлөв' багана 'гарсан' гэж бичигдэх ёстой",
    "",
    "Анхааруулга: 'Төлөв' гэдэг баганын нэр Sheet-д таарч байх ёстой. Хэрэв 'Status' эсвэл өөр нэртэй бол JSON-ийн 'Төлөв' талбаруудыг тус нэрээр сольж бичих."
  ]
}
