n8n-workflow-finance.json
{
  "name": "Чимун Tasks · Finance Sync",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "finance",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook-finance-get",
      "name": "Webhook GET /finance",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook-finance-post",
      "name": "Webhook POST /finance",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "jsCode": "// Route by action: list (GET) / upsert / delete (POST).\nconst input = $input.first().json;\nconst body = input.body || {};\nconst query = input.query || {};\nconst action = (body.action || query.action || 'list').toLowerCase();\nconst request = body.request || null;\nreturn [{ json: { action, request } }];"
      },
      "id": "code-route",
      "name": "Route Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "list", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "outputKey": "list" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "upsert", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "outputKey": "upsert" },
            { "conditions": { "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "loose" }, "conditions": [{ "leftValue": "={{ $json.action }}", "rightValue": "delete", "operator": { "type": "string", "operation": "equals" } }], "combinator": "and" }, "outputKey": "delete" }
          ]
        },
        "options": {}
      },
      "id": "switch-action",
      "name": "Switch by Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "1ogJTucQ9BipiJU_kckjS4DmJ7b0BJbh1_eXuoLWZNEI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "tasks", "mode": "name" },
        "options": {}
      },
      "id": "sheets-read",
      "name": "Sheets · Read Finance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 100],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "jsCode": "// Sheet → English JSON: монгол баганы нэрсийг англи field name-руу хөрвүүлэх.\n// App-ийн state.financeRequests нь англи талбартай тул хөрвүүлэх ёстой.\nconst MAP = {\n  'ID': 'id',\n  'Илгээгч': 'requested_by',\n  'Илгээсэн огноо': 'requested_at',\n  'Дүн': 'amount',\n  'Хүлээн авагч': 'beneficiary',\n  'Зорилго': 'purpose',\n  'Тайлбар': 'justification',\n  'Хүссэн огноо': 'due_date',\n  'Төлөв': 'status',\n  'Шийдвэр': 'decision',\n  'Шийдвэрийн огноо': 'decision_at',\n  'Шийдвэр гаргасан': 'decision_by',\n  'Шийдвэрийн шалтгаан': 'decision_reason',\n  'Гүйцэтгэсэн огноо': 'executed_at',\n  'Гүйцэтгэгч': 'executed_by',\n  'Хариуцагч': 'executor',\n  'Үнийн судалгаа': 'purchase_proof_url',\n  'Төлбөрийн баримт': 'payment_proof_url',\n  'Худалдан авалтын баримт': 'purchase_receipt_url',\n  'Шинэчилсэн': 'updated',\n};\nconst rows = $input.all().map(it => it.json);\nconst requests = [];\nfor (const r of rows) {\n  if (!r) continue;\n  const out = {};\n  for (const [k, v] of Object.entries(r)) {\n    out[MAP[k] || k] = v;\n  }\n  if (out.id && out.status !== 'deleted') requests.push(out);\n}\nreturn [{ json: { requests } }];"
      },
      "id": "code-aggregate",
      "name": "Aggregate Requests",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 100]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1ogJTucQ9BipiJU_kckjS4DmJ7b0BJbh1_eXuoLWZNEI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "tasks", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["ID"],
          "value": {
            "ID": "={{ $('Route Action').item.json.request.id }}",
            "Илгээгч": "={{ $('Route Action').item.json.request.requested_by }}",
            "Илгээсэн огноо": "={{ $('Route Action').item.json.request.requested_at }}",
            "Дүн": "={{ $('Route Action').item.json.request.amount }}",
            "Хүлээн авагч": "={{ $('Route Action').item.json.request.beneficiary }}",
            "Зорилго": "={{ $('Route Action').item.json.request.purpose }}",
            "Тайлбар": "={{ $('Route Action').item.json.request.justification }}",
            "Хүссэн огноо": "={{ $('Route Action').item.json.request.due_date }}",
            "Төлөв": "={{ $('Route Action').item.json.request.status }}",
            "Шийдвэр": "={{ $('Route Action').item.json.request.decision }}",
            "Шийдвэрийн огноо": "={{ $('Route Action').item.json.request.decision_at }}",
            "Шийдвэр гаргасан": "={{ $('Route Action').item.json.request.decision_by }}",
            "Шийдвэрийн шалтгаан": "={{ $('Route Action').item.json.request.decision_reason }}",
            "Гүйцэтгэсэн огноо": "={{ $('Route Action').item.json.request.executed_at }}",
            "Гүйцэтгэгч": "={{ $('Route Action').item.json.request.executed_by }}",
            "Хариуцагч": "={{ $('Route Action').item.json.request.executor }}",
            "Үнийн судалгаа": "={{ $('Route Action').item.json.request.purchase_proof_url }}",
            "Төлбөрийн баримт": "={{ $('Route Action').item.json.request.payment_proof_url }}",
            "Худалдан авалтын баримт": "={{ $('Route Action').item.json.request.purchase_receipt_url }}",
            "Шинэчилсэн": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "sheets-upsert",
      "name": "Sheets · Upsert Finance",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [900, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "jsCode": "// Soft delete: status='deleted'\nconst r = $('Route Action').item.json.request;\nif (!r || !r.id) return [];\nreturn [{ json: { request: { ...r, status: 'deleted' } } }];"
      },
      "id": "code-delete",
      "name": "Mark Deleted",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 500]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": { "__rl": true, "value": "1ogJTucQ9BipiJU_kckjS4DmJ7b0BJbh1_eXuoLWZNEI", "mode": "id" },
        "sheetName": { "__rl": true, "value": "tasks", "mode": "name" },
        "columns": {
          "mappingMode": "defineBelow",
          "matchingColumns": ["ID"],
          "value": {
            "ID": "={{ $json.request.id }}",
            "Төлөв": "deleted",
            "Шинэчилсэн": "={{ $now.toISO() }}"
          }
        },
        "options": {}
      },
      "id": "sheets-soft-delete",
      "name": "Sheets · Soft Delete",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [1120, 500],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET,POST,OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "respond-list",
      "name": "Respond List",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, request: $('Route Action').item.json.request }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-upsert",
      "name": "Respond Upsert",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" }
            ]
          }
        }
      },
      "id": "respond-delete",
      "name": "Respond Delete",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 500]
    }
  ],
  "connections": {
    "Webhook GET /finance": { "main": [[{ "node": "Route Action", "type": "main", "index": 0 }]] },
    "Webhook POST /finance": { "main": [[{ "node": "Route Action", "type": "main", "index": 0 }]] },
    "Route Action": { "main": [[{ "node": "Switch by Action", "type": "main", "index": 0 }]] },
    "Switch by Action": {
      "main": [
        [{ "node": "Sheets · Read Finance", "type": "main", "index": 0 }],
        [{ "node": "Sheets · Upsert Finance", "type": "main", "index": 0 }],
        [{ "node": "Mark Deleted", "type": "main", "index": 0 }]
      ]
    },
    "Sheets · Read Finance": { "main": [[{ "node": "Aggregate Requests", "type": "main", "index": 0 }]] },
    "Aggregate Requests": { "main": [[{ "node": "Respond List", "type": "main", "index": 0 }]] },
    "Sheets · Upsert Finance": { "main": [[{ "node": "Respond Upsert", "type": "main", "index": 0 }]] },
    "Mark Deleted": { "main": [[{ "node": "Sheets · Soft Delete", "type": "main", "index": 0 }]] },
    "Sheets · Soft Delete": { "main": [[{ "node": "Respond Delete", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "chimun" }, { "name": "finance" }]
}
