n8n-site-order-intake.json
{
  "name": "M Event Site → Санхүүгийн тайлан (Order Intake)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "m-event-site-order",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-site",
      "name": "Site Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "m-event-site-order"
    },
    {
      "parameters": {
        "jsCode": "// === M EVENT SITE → САНХҮҮГИЙН ТАЙЛАН ФОРМАТ ===\n// Сайтаас ирэх payload-ийг Booqable-тэй ижил формат руу хувиргана.\n\nconst body = $json.body || $json;\nconst customer = body.customer || {};\nconst items = Array.isArray(body.items) ? body.items : [];\nconst dates = body.dates || {};\nconst totals = body.totals || {};\n\n// --- HELPERS ---\nfunction uuid() {\n  return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, c => {\n    const r = Math.random() * 16 | 0;\n    return (c === 'x' ? r : (r & 0x3 | 0x8)).toString(16);\n  });\n}\n\nfunction formatDateRaw(dateStr) {\n  // Input: \"2026-05-15 09:00\" or ISO\n  if (!dateStr) return '';\n  const s = String(dateStr);\n  const m = s.match(/^(\\d{4}-\\d{2}-\\d{2})[T ](\\d{2}):(\\d{2})/);\n  if (!m) return s;\n  const dayNames = ['Ням', 'Дав', 'Мяг', 'Лха', 'Пүр', 'Баа', 'Бям'];\n  const dt = new Date(s.replace(' ', 'T') + (s.endsWith('Z') ? '' : '+08:00'));\n  const dow = isNaN(dt.getTime()) ? '' : ' ' + dayNames[dt.getUTCDay()];\n  return `${m[1]} ${m[2]}:${m[3]}${dow}`;\n}\n\nfunction formatDateUB(dateStr) {\n  if (!dateStr) {\n    const now = new Date(Date.now() + 8 * 3600 * 1000);\n    const yyyy = now.getUTCFullYear();\n    const mm = String(now.getUTCMonth() + 1).padStart(2, '0');\n    const dd = String(now.getUTCDate()).padStart(2, '0');\n    const hh = String(now.getUTCHours()).padStart(2, '0');\n    const mn = String(now.getUTCMinutes()).padStart(2, '0');\n    return `${yyyy}-${mm}-${dd} ${hh}:${mn}`;\n  }\n  const date = new Date(dateStr);\n  if (isNaN(date.getTime())) return '';\n  const ub = new Date(date.getTime() + 8 * 3600 * 1000);\n  const yyyy = ub.getUTCFullYear();\n  const mm = String(ub.getUTCMonth() + 1).padStart(2, '0');\n  const dd = String(ub.getUTCDate()).padStart(2, '0');\n  const hh = String(ub.getUTCHours()).padStart(2, '0');\n  const mn = String(ub.getUTCMinutes()).padStart(2, '0');\n  return `${yyyy}-${mm}-${dd} ${hh}:${mn}`;\n}\n\nfunction durationFromDates(start, end) {\n  const a = new Date(start.replace(' ', 'T'));\n  const b = new Date(end.replace(' ', 'T'));\n  if (isNaN(a) || isNaN(b)) return '';\n  const ms = b - a;\n  if (ms <= 0) return '';\n  const totalMin = Math.floor(ms / 60000);\n  const days = Math.floor(totalMin / (60 * 24));\n  const hours = Math.floor((totalMin % (60 * 24)) / 60);\n  const minutes = totalMin % 60;\n  const parts = [];\n  if (days > 0) parts.push(`${days} хоног`);\n  if (hours > 0) parts.push(`${hours} цаг`);\n  if (minutes > 0) parts.push(`${minutes} минут`);\n  return parts.join(' ') || '0 минут';\n}\n\n// --- BUILD ROW ---\nconst orderId = uuid();\nconst startDate = formatDateRaw(dates.start);\nconst stopDate = formatDateRaw(dates.end);\nconst rentalDuration = durationFromDates(dates.start, dates.end) || (totals.days || 1) + ' хоног';\nconst now = formatDateUB(body.submittedAt);\n\n// Items жагсаалт\nconst itemDetails = items.length\n  ? items.map((it, i) => `${i + 1}. ${it.name || 'Бараа'} x${it.qty || 1}`).join('\\n')\n  : '';\nconst totalQty = items.reduce((s, it) => s + Number(it.qty || 0), 0);\n\n// Үнэ (totals.grand нь товчоор хадгалагдах ёстой)\nconst subtotal = Number(totals.subtotal || 0);\nconst deposit = Number(totals.deposit || 0);\nconst grand = Number(totals.grand || subtotal + deposit);\n\n// Байгууллагын РД\nconst companyReg = (customer.register || '') + (customer.company ? ' ' + customer.company : '');\n\n// Тайлбарыг хаягийн доор нэмж бичих\nlet address = customer.address || '';\nif (body.note && body.note.trim()) {\n  address += (address ? ' | ' : '') + 'Тайлбар: ' + body.note.trim();\n}\n\nreturn [{\n  json: {\n    'Захиалгын ID': orderId,\n    'Захиалга №': '',                 // Хоосон — ажилтан confirm хийхэд оноох\n    'Гэрээний №': '',\n    'Харилцагч нэр': customer.name || '',\n    'байгууллагын РД:': companyReg.trim(),\n    'Утас': customer.phone || '',\n    'email': customer.email || '',\n    'Хаяг': address,\n    'Гарах огноо': startDate,\n    'Буцах огноо': stopDate,\n    'Барааны дэлгэрэнгүй': itemDetails,\n    'Түрээсийн Хугацаа': rentalDuration,\n    'Нийт барааны тоо': totalQty,\n    'Төлсөн дүн (₮)': 0,\n    'Үлдэгдэл (₮)': grand,\n    'Барьцаа (₮)': deposit,\n    'Нөат-гүй дүн': subtotal,\n    'Нөат': '',\n    'Нөат-тэй нийт дүн': grand,\n    'Нийт хямдрал': 0,\n    'Төлбөрийн статус': 'Төлөөгүй',\n    'Барьцаа буцаах данс': '',\n    'Гэрээний төлөв': '',\n    'Гэрээ огноо': now,\n    'Захиалгын статус': '🌐 Сайтнаас ирсэн',\n    '48 цаг мэдэгдэл': '',\n    '24 цаг мэдэгдэл': '',\n    // For response\n    '_orderId': orderId,\n    '_customerName': customer.name || '',\n    '_grand': grand,\n  }\n}];"
      },
      "id": "code-process",
      "name": "Site Payload → Sheets format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1BOaFl2frPUOgoK-mOOOEXAVRF--phmWvbgzdh6SxN7Y",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "📋 Гарах захиалга",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Захиалгын ID": "={{ $json['Захиалгын ID'] }}",
            "Захиалга №": "={{ $json['Захиалга №'] }}",
            "Гэрээний №": "={{ $json['Гэрээний №'] }}",
            "Харилцагч нэр": "={{ $json['Харилцагч нэр'] }}",
            "байгууллагын РД:": "={{ $json['байгууллагын РД:'] }}",
            "Утас": "={{ $json['Утас'] }}",
            "email": "={{ $json['email'] }}",
            "Хаяг": "={{ $json['Хаяг'] }}",
            "Гарах огноо": "={{ $json['Гарах огноо'] }}",
            "Буцах огноо": "={{ $json['Буцах огноо'] }}",
            "Барааны дэлгэрэнгүй": "={{ $json['Барааны дэлгэрэнгүй'] }}",
            "Түрээсийн Хугацаа": "={{ $json['Түрээсийн Хугацаа'] }}",
            "Нийт барааны тоо": "={{ $json['Нийт барааны тоо'] }}",
            "Төлсөн дүн (₮)": "={{ $json[\"Төлсөн дүн (₮)\"] }}",
            "Үлдэгдэл (₮)": "={{ $json[\"Үлдэгдэл (₮)\"] }}",
            "Барьцаа (₮)": "={{ $json[\"Барьцаа (₮)\"] }}",
            "Нөат-гүй дүн": "={{ $json['Нөат-гүй дүн'] }}",
            "Нөат": "={{ $json['Нөат'] }}",
            "Нөат-тэй нийт дүн": "={{ $json['Нөат-тэй нийт дүн'] }}",
            "Нийт хямдрал": "={{ $json['Нийт хямдрал'] }}",
            "Төлбөрийн статус": "={{ $json['Төлбөрийн статус'] }}",
            "Барьцаа буцаах данс": "={{ $json['Барьцаа буцаах данс'] }}",
            "Гэрээний төлөв": "={{ $json['Гэрээний төлөв'] }}",
            "Гэрээ огноо": "={{ $json['Гэрээ огноо'] }}",
            "Захиалгын статус": "={{ $json['Захиалгын статус'] }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "Захиалгын ID", "displayName": "Захиалгын ID", "type": "string", "display": true },
            { "id": "Захиалга №", "displayName": "Захиалга №", "type": "string", "display": true },
            { "id": "Гэрээний №", "displayName": "Гэрээний №", "type": "string", "display": true },
            { "id": "Харилцагч нэр", "displayName": "Харилцагч нэр", "type": "string", "display": true },
            { "id": "байгууллагын РД:", "displayName": "байгууллагын РД:", "type": "string", "display": true },
            { "id": "Утас", "displayName": "Утас", "type": "string", "display": true },
            { "id": "email", "displayName": "email", "type": "string", "display": true },
            { "id": "Хаяг", "displayName": "Хаяг", "type": "string", "display": true },
            { "id": "Гарах огноо", "displayName": "Гарах огноо", "type": "string", "display": true },
            { "id": "Буцах огноо", "displayName": "Буцах огноо", "type": "string", "display": true },
            { "id": "Барааны дэлгэрэнгүй", "displayName": "Барааны дэлгэрэнгүй", "type": "string", "display": true },
            { "id": "Түрээсийн Хугацаа", "displayName": "Түрээсийн Хугацаа", "type": "string", "display": true },
            { "id": "Нийт барааны тоо", "displayName": "Нийт барааны тоо", "type": "number", "display": true },
            { "id": "Төлсөн дүн (₮)", "displayName": "Төлсөн дүн (₮)", "type": "number", "display": true },
            { "id": "Үлдэгдэл (₮)", "displayName": "Үлдэгдэл (₮)", "type": "number", "display": true },
            { "id": "Барьцаа (₮)", "displayName": "Барьцаа (₮)", "type": "number", "display": true },
            { "id": "Нөат-гүй дүн", "displayName": "Нөат-гүй дүн", "type": "number", "display": true },
            { "id": "Нөат", "displayName": "Нөат", "type": "string", "display": true },
            { "id": "Нөат-тэй нийт дүн", "displayName": "Нөат-тэй нийт дүн", "type": "number", "display": true },
            { "id": "Нийт хямдрал", "displayName": "Нийт хямдрал", "type": "number", "display": true },
            { "id": "Төлбөрийн статус", "displayName": "Төлбөрийн статус", "type": "string", "display": true },
            { "id": "Барьцаа буцаах данс", "displayName": "Барьцаа буцаах данс", "type": "string", "display": true },
            { "id": "Гэрээний төлөв", "displayName": "Гэрээний төлөв", "type": "string", "display": true },
            { "id": "Гэрээ огноо", "displayName": "Гэрээ огноо", "type": "string", "display": true },
            { "id": "Захиалгын статус", "displayName": "Захиалгын статус", "type": "string", "display": true }
          ]
        },
        "options": {}
      },
      "id": "sheets-append",
      "name": "Append to Санхүүгийн тайлан (test)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [720, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      },
      "notes": "Test sheet ID. Production: 1PQgDjjDzeVZ8bzGj-KGnFALBCio7AhoP3gFr2z42e7s"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, orderId: $('Site Payload → Sheets format').item.json._orderId, customerName: $('Site Payload → Sheets format').item.json._customerName, message: 'Захиалгыг хүлээн авлаа. 1 цагийн дотор утсаар холбогдоно.' }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type" }
            ]
          }
        }
      },
      "id": "respond-1",
      "name": "Respond to site",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [980, 300]
    }
  ],
  "connections": {
    "Site Webhook": {
      "main": [[{ "node": "Site Payload → Sheets format", "type": "main", "index": 0 }]]
    },
    "Site Payload → Sheets format": {
      "main": [[{ "node": "Append to Санхүүгийн тайлан (test)", "type": "main", "index": 0 }]]
    },
    "Append to Санхүүгийн тайлан (test)": {
      "main": [[{ "node": "Respond to site", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "M event" }, { "name": "site" }]
}
