n8n-workflow-staff-register.json
{
  "name": "Чимун · Шинэ ажилтан бүртгэл (staff-register)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "staff-register",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://chimunllc.github.io"
        }
      },
      "id": "sr-webhook",
      "name": "Webhook · Бүртгэл хүсэлт",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 200],
      "webhookId": "staff-register-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Payload: { name, role, group, phone, email, pin, rd, address, photo (base64 dataURL),\n//             emergency_name, emergency_phone, status, requested_at }\nconst body = $input.first().json.body || $input.first().json || {};\n\n// Phone-ийг норморчилох (зөвхөн тоо)\nconst phoneNorm = String(body.phone || '').replace(/\\D/g, '');\n\n// Filename — нэр + утас. \"Болд_Энх_99112233.jpg\".\nconst nameClean = String(body.name || 'unknown').replace(/[^\\p{L}\\d]+/gu, '_').slice(0, 40);\nconst filename = `${nameClean}_${phoneNorm || 'no-phone'}.jpg`;\n\n// Photo нь dataURL хэлбэртэй: 'data:image/jpeg;base64,<base64>'\nlet photoBase64 = '';\nlet hasPhoto = false;\nif (body.photo && body.photo.startsWith('data:image/')) {\n  const m = body.photo.match(/^data:image\\/[\\w+]+;base64,(.+)$/);\n  if (m) {\n    photoBase64 = m[1];\n    hasPhoto = true;\n  }\n}\n\n// Generate уникал request ID\nconst requestId = 'REQ_' + Date.now() + '_' + Math.random().toString(36).slice(2, 6);\n\nreturn [{\n  json: {\n    request_id: requestId,\n    filename,\n    has_photo: hasPhoto,\n    photo_base64: photoBase64,\n    // Sheet-д бичигдэх талбарууд\n    'ID': '', // CEO зөвшөөрсний дараа M01, C07 г.м.\n    'Овог нэр': body.name || '',\n    'Албан тушаал': body.role || '',\n    'Бүлэг': body.group || '',\n    'Утас': body.phone || '',\n    'И-мэйл': body.email || '',\n    'PIN': body.pin || '',\n    'РД': body.rd || '',\n    'Гэрийн хаяг': body.address || '',\n    'Яаралтай нэр': body.emergency_name || '',\n    'Яаралтай утас': body.emergency_phone || '',\n    'Зургийн URL': '', // Drive upload-ийн дараа бичигдэнэ\n    'Төлөв': body.status || 'хүлээж буй',\n    'Хүсэлтийн ID': requestId,\n    'Хүсэлт өгсөн': body.requested_at || new Date().toISOString(),\n  },\n  binary: hasPhoto ? {\n    photo: {\n      data: photoBase64,\n      mimeType: 'image/jpeg',\n      fileName: filename,\n    }\n  } : {},\n}];"
      },
      "id": "sr-parse",
      "name": "Parse payload + filename",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has-photo",
              "leftValue": "={{ $json.has_photo }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "sr-if-photo",
      "name": "If зураг байгаа эсэх",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [-320, 200]
    },
    {
      "parameters": {
        "name": "={{ $json.filename }}",
        "driveId": { "__rl": true, "mode": "list", "value": "My Drive" },
        "folderId": {
          "__rl": true,
          "mode": "id",
          "value": "1yNTOivF-wBoSVrx5MHj8X0kQY-YZsl6G"
        },
        "options": {},
        "binaryPropertyName": "photo",
        "resource": "file",
        "operation": "upload"
      },
      "id": "sr-drive-upload",
      "name": "Upload зураг → Drive",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [-80, 100]
    },
    {
      "parameters": {
        "jsCode": "// Drive upload-аас гарсан file ID-г Sheet-д бичих form-руу нэгтгэх.\n// Webhook view-ыг шууд хуваалцах боломжтой URL болгож хувиргана.\nconst orig = $('Parse payload + filename').item.json;\nconst driveFile = $input.first().json;\nconst fileId = driveFile.id;\nconst publicUrl = fileId ? `https://drive.google.com/uc?id=${fileId}` : '';\nreturn [{ json: { ...orig, 'Зургийн URL': publicUrl, drive_file_id: fileId } }];"
      },
      "id": "sr-merge-url",
      "name": "Зургийн URL → row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [160, 100]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1so0IBwfok7_Tss3y25a-40qybGe9SGHimkuXrihuWvM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 451955481,
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json['ID'] }}",
            "Овог нэр": "={{ $json['Овог нэр'] }}",
            "Албан тушаал": "={{ $json['Албан тушаал'] }}",
            "Бүлэг": "={{ $json['Бүлэг'] }}",
            "Утас": "={{ $json['Утас'] }}",
            "И-мэйл": "={{ $json['И-мэйл'] }}",
            "PIN": "={{ $json['PIN'] }}",
            "РД": "={{ $json['РД'] }}",
            "Гэрийн хаяг": "={{ $json['Гэрийн хаяг'] }}",
            "Яаралтай нэр": "={{ $json['Яаралтай нэр'] }}",
            "Яаралтай утас": "={{ $json['Яаралтай утас'] }}",
            "Зургийн URL": "={{ $json['Зургийн URL'] }}",
            "Төлөв": "={{ $json['Төлөв'] }}",
            "Хүсэлтийн ID": "={{ $json['Хүсэлтийн ID'] }}",
            "Хүсэлт өгсөн": "={{ $json['Хүсэлт өгсөн'] }}"
          },
          "matchingColumns": [],
          "schema": [
            { "id": "ID", "displayName": "ID", "type": "string" },
            { "id": "Овог нэр", "displayName": "Овог нэр", "type": "string" },
            { "id": "Албан тушаал", "displayName": "Албан тушаал", "type": "string" },
            { "id": "Бүлэг", "displayName": "Бүлэг", "type": "string" },
            { "id": "Утас", "displayName": "Утас", "type": "string" },
            { "id": "И-мэйл", "displayName": "И-мэйл", "type": "string" },
            { "id": "PIN", "displayName": "PIN", "type": "string" },
            { "id": "РД", "displayName": "РД", "type": "string" },
            { "id": "Гэрийн хаяг", "displayName": "Гэрийн хаяг", "type": "string" },
            { "id": "Яаралтай нэр", "displayName": "Яаралтай нэр", "type": "string" },
            { "id": "Яаралтай утас", "displayName": "Яаралтай утас", "type": "string" },
            { "id": "Зургийн URL", "displayName": "Зургийн URL", "type": "string" },
            { "id": "Төлөв", "displayName": "Төлөв", "type": "string" },
            { "id": "Хүсэлтийн ID", "displayName": "Хүсэлтийн ID", "type": "string" },
            { "id": "Хүсэлт өгсөн", "displayName": "Хүсэлт өгсөн", "type": "string" }
          ]
        },
        "options": {}
      },
      "id": "sr-sheet-append",
      "name": "Sheet · Append шинэ мөр",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [400, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, request_id: $json['Хүсэлтийн ID'], photo_url: $json['Зургийн URL'] }) }}"
      },
      "id": "sr-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [640, 200]
    }
  ],
  "connections": {
    "Webhook · Бүртгэл хүсэлт": {
      "main": [[{ "node": "Parse payload + filename", "type": "main", "index": 0 }]]
    },
    "Parse payload + filename": {
      "main": [[{ "node": "If зураг байгаа эсэх", "type": "main", "index": 0 }]]
    },
    "If зураг байгаа эсэх": {
      "main": [
        [{ "node": "Upload зураг → Drive", "type": "main", "index": 0 }],
        [{ "node": "Sheet · Append шинэ мөр", "type": "main", "index": 0 }]
      ]
    },
    "Upload зураг → Drive": {
      "main": [[{ "node": "Зургийн URL → row", "type": "main", "index": 0 }]]
    },
    "Зургийн URL → row": {
      "main": [[{ "node": "Sheet · Append шинэ мөр", "type": "main", "index": 0 }]]
    },
    "Sheet · Append шинэ мөр": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "_setup_instructions": [
    "АЖИЛЛАХ УРСГАЛ:",
    "  1. Аппаас POST /staff-register ирнэ. Payload-д photo (base64 dataURL) байна.",
    "  2. Parse node нэр+утсаар filename үүсгэнэ ('Болд_Энх_99112233.jpg').",
    "  3. If photo → Google Drive folder руу upload.",
    "  4. File ID-аас public URL үүсгэнэ ('https://drive.google.com/uc?id=...').",
    "  5. Sheet-д шинэ мөр append хийгдэнэ — Зургийн URL баганатай.",
    "",
    "SETUP STEPS:",
    "  1. n8n cloud дээр энэ JSON-ыг re-import хийнэ.",
    "  2. 'Upload зураг → Drive' node-нд:",
    "       - Google Drive credential зөв сонгогдсон эсэхийг шалгах",
    "       - Folder ID: 1yNTOivF-wBoSVrx5MHj8X0kQY-YZsl6G (танай ажилтны зургийн folder)",
    "       - Resource: File, Operation: Upload",
    "       - Binary Property Name: photo",
    "       - File Name: {{ $json.filename }}",
    "       - Folder credential нь folder-руу бичих эрхтэй байх ёстой",
    "  3. 'Sheet · Append шинэ мөр' node-нд:",
    "       - Master Sheet-д дараах баганууд байх ёстой:",
    "           ID, Овог нэр, Албан тушаал, Бүлэг, Утас, И-мэйл, PIN,",
    "           РД, Гэрийн хаяг, Яаралтай нэр, Яаралтай утас, Зургийн URL,",
    "           Төлөв, Хүсэлтийн ID, Хүсэлт өгсөн",
    "       - Хэрэв тус баганууд байхгүй бол Sheet-д шинээр нэмэх",
    "       - Schema refresh хийх (3 цэг → Refresh)",
    "  4. Workflow Activate хийх.",
    "  5. Аппаас бүртгэлийн форм бөглөж тест хийх — Drive folder-д зураг,",
    "     Sheet-д мөр гарах ёстой.",
    "",
    "ЗУРГИЙН URL FORMAT:",
    "  Public preview URL: https://drive.google.com/uc?id={fileId}",
    "  Thumbnail: https://drive.google.com/thumbnail?id={fileId}",
    "  Дэлгэрэнгүй: https://drive.google.com/file/d/{fileId}/view",
    "  Folder нь 'Anyone with link can view' хандалттай байх шаардлагатай (эсвэл компанийн",
    "  Workspace-д хязгаарлах)."
  ]
}
