n8n-workflow-notify.json
{
  "name": "M Event Checklist · Notifications (Daily Reminders + Webhook)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 9 * * *" }]
        }
      },
      "id": "cron-1",
      "name": "Daily 09:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "notify",
        "responseMode": "lastNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "webhook-1",
      "name": "Webhook /notify",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 420]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": { "__rl": true, "value": "REPLACE_WITH_GOOGLE_SHEET_ID", "mode": "id" },
        "sheetName": { "__rl": true, "value": "tasks", "mode": "name" },
        "options": {}
      },
      "id": "sheets-read",
      "name": "Sheets · Read All Tasks",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [480, 200],
      "credentials": { "googleSheetsOAuth2Api": { "id": "REPLACE", "name": "Google Sheets account" } }
    },
    {
      "parameters": {
        "jsCode": "// Find tasks that are open and (overdue OR due today/tomorrow)\nconst today = new Date(); today.setHours(0,0,0,0);\nconst tomorrow = new Date(today); tomorrow.setDate(tomorrow.getDate()+1);\nconst toDate = (s) => { if(!s) return null; const d = new Date(s); d.setHours(0,0,0,0); return d; };\n\nconst items = $input.all();\nconst alerts = [];\nfor (const it of items) {\n  const t = it.json;\n  if (t.status === 'done' || t.status === 'deleted') continue;\n  const due = toDate(t.due);\n  if (!due) continue;\n  let kind = null;\n  if (due < today) kind = 'overdue';\n  else if (due.getTime() === today.getTime()) kind = 'today';\n  else if (due.getTime() === tomorrow.getTime()) kind = 'tomorrow';\n  if (kind) alerts.push({ json: { ...t, alertKind: kind } });\n}\nreturn alerts;"
      },
      "id": "code-filter",
      "name": "Filter Due/Overdue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [720, 200]
    },
    {
      "parameters": {
        "jsCode": "// Map assignee code -> contact (REPLACE phone/emails with real ones)\nconst CONTACTS = {\n  'CEO': { name: 'Г.Мөнх-Учрал', email: 'gmunkhuchral@gmail.com' },\n  '001': { name: 'И.Алтансүх', email: '' },\n  '002': { name: 'Борлуулалт',  email: '' },\n  '003': { name: 'Нярав',        email: '' },\n  '004': { name: 'Засвар/Агуулах', email: '' },\n  '005': { name: 'Логистик',     email: '' },\n  '006': { name: 'Цэврэлгээ',    email: '' },\n};\nconst t = $input.first().json;\nconst c = CONTACTS[t.assignee] || { name: 'M Event', email: '' };\nconst label = { overdue: 'ХОЦОРСОН', today: 'Өнөөдөр', tomorrow: 'Маргааш' }[t.alertKind] || '';\nconst subj = `[${label}] ${t.title}`;\nconst body = `Сайн уу ${c.name},\\n\\nДараах даалгавар анхааруулга:\\n\\n${t.title}\\nЭцсийн хугацаа: ${t.due}\\nТөсөл: ${t.project}\\nЗэрэглэл: ${t.priority || '-'}\\n\\nApp дээр нээх: <YOUR-GITHUB-PAGES-URL>`;\nreturn [{ json: { ...t, contact: c, subject: subj, body } }];"
      },
      "id": "code-build",
      "name": "Build Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [960, 200]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@m-event.mn",
        "toEmail": "={{ $json.contact.email }}",
        "subject": "={{ $json.subject }}",
        "text": "={{ $json.body }}",
        "options": {}
      },
      "id": "email-1",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1200, 200],
      "credentials": { "smtp": { "id": "REPLACE", "name": "SMTP account" } },
      "notes": "Replace SMTP credentials. Or swap this node for Slack / Telegram / Messenger."
    }
  ],
  "connections": {
    "Daily 09:00": { "main": [[{ "node": "Sheets · Read All Tasks", "type": "main", "index": 0 }]] },
    "Webhook /notify": { "main": [[{ "node": "Sheets · Read All Tasks", "type": "main", "index": 0 }]] },
    "Sheets · Read All Tasks": { "main": [[{ "node": "Filter Due/Overdue", "type": "main", "index": 0 }]] },
    "Filter Due/Overdue": { "main": [[{ "node": "Build Message", "type": "main", "index": 0 }]] },
    "Build Message": { "main": [[{ "node": "Send Email", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "m-event" }, { "name": "checklist" }, { "name": "notify" }]
}
