n8n-workflow-staff-sync.json
{
  "name": "Чимун Tasks · Staff Sync (Master Sheet)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "staff",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "webhook-staff-get",
      "name": "Webhook GET /staff",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1so0IBwfok7_Tss3y25a-40qybGe9SGHimkuXrihuWvM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Хуудас1",
          "mode": "name"
        },
        "options": {}
      },
      "id": "sheets-read-staff",
      "name": "Sheets · Read Master Roster",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [460, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Master Sheet → TEAM format mapping.\n// Sheet баганы нэр монголоор; app дотор Latin field name ашиглана.\n//\n// Branches handling:\n//   primary 'Бүлэг' + optional 'Хавсарсан бүлэг' → branches[] array.\n//   ҮАХ захирал + production-related M Event roles also get 'production' branch.\n//\n// Status filter: 'гарсан' (left) + 'нээлттэй' (open position) excluded from active roster.\n//\n// Output: { team: [...] }\n\nconst rows = $input.all().map(it => it.json);\n\nconst BRANCH_MAP = {\n  'Нэгдсэн': 'shared',\n  'M Event': 'm-event',\n  'Camp':    'camp',\n};\n\n// Roles that should auto-include 'production' (cross-branch event work)\nconst PRODUCTION_ROLES = [\n  'ҮАХ захирал M EVENT',\n  'Event Manager',\n  'Агуулах засварын ажилтан',\n  'Засвар-Агуулахын ахлах',\n  'Агуулах-Логистик 1',\n  'Агуулах-Логистик 2',\n  'ҮАХ захирал NOMAAD',\n  'Кемпийн менежер',\n];\n\nfunction mapBranch(label) {\n  if (!label) return null;\n  const trimmed = String(label).trim();\n  return BRANCH_MAP[trimmed] || null;\n}\n\nfunction normalizeId(raw) {\n  if (raw == null) return '';\n  const s = String(raw).trim();\n  // Pad single/double-digit numeric IDs back to 3 digits to match legacy app IDs (\"1\"→\"001\")\n  if (/^\\d{1,2}$/.test(s)) return s.padStart(3, '0');\n  return s;\n}\n\nconst team = [];\nfor (const r of rows) {\n  if (!r) continue;\n  const id = normalizeId(r['ID']);\n  if (!id) continue;\n  const status = String(r['Төлөв'] || '').trim();\n  if (status === 'гарсан' || status === 'нээлттэй') continue; // skip inactive\n\n  const primary = mapBranch(r['Бүлэг']);\n  const secondary = mapBranch(r['Хавсарсан бүлэг']);\n  const branches = [];\n  if (primary) branches.push(primary);\n  if (secondary && secondary !== primary) branches.push(secondary);\n\n  const role = String(r['Албан тушаал'] || '').trim();\n  if (PRODUCTION_ROLES.includes(role) && !branches.includes('production')) {\n    branches.push('production');\n  }\n\n  // CEO is special — give access to all branches\n  if (id === 'CEO') {\n    if (!branches.includes('m-event')) branches.push('m-event');\n    if (!branches.includes('camp')) branches.push('camp');\n    if (!branches.includes('shared')) branches.push('shared');\n    if (!branches.includes('production')) branches.push('production');\n  }\n\n  team.push({\n    id,\n    name: String(r['Овог нэр'] || '').trim(),\n    role,\n    level: parseInt(r['Зэрэглэл'] || '40', 10) || 40,\n    pin: String(r['PIN'] || '').trim(),\n    email: String(r['И-мэйл'] || '').trim(),\n    branches,\n    status: status || 'идэвхтэй',\n    seasonal_from: String(r['Улирлын эхлэл'] || '').trim() || null,\n    seasonal_to:   String(r['Улирлын төгсгөл'] || '').trim() || null,\n  });\n}\n\nreturn [{ json: { team, count: team.length, generated_at: new Date().toISOString() } }];"
      },
      "id": "code-map-staff",
      "name": "Map Sheet → TEAM",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Cache-Control", "value": "public, max-age=300" }
            ]
          }
        }
      },
      "id": "respond",
      "name": "Respond JSON",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook GET /staff": {
      "main": [[{ "node": "Sheets · Read Master Roster", "type": "main", "index": 0 }]]
    },
    "Sheets · Read Master Roster": {
      "main": [[{ "node": "Map Sheet → TEAM", "type": "main", "index": 0 }]]
    },
    "Map Sheet → TEAM": {
      "main": [[{ "node": "Respond JSON", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "_README": "Чимун ХХК · Staff sync workflow. Master Sheet-аас уншиж app-руу JSON хэлбэрээр буцаана. Setup: (1) Google Sheets credential холбох, (2) Workflow Active болгож хадгалах, (3) Webhook URL-г app-ын Settings → Staff webhook talbar-д тавих. 5 минутын cache (Cache-Control) — Sheet өөрчилбөл хамгийн ихдээ 5 минутын дотор аппаас харагдана."
}
