TASKS ажил илгээх.json
{
  "name": "TASKS ажил илгээх",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "checklist",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://chimunllc.github.io"
        }
      },
      "id": "0833afb8-3ef6-4418-a5f8-daac42f0c0f1",
      "name": "Webhook POST /checklist1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2688,
        2912
      ],
      "webhookId": "3c49be5a-456a-4311-bc4a-7888c7cbf77b"
    },
    {
      "parameters": {
        "path": "checklist",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://chimunllc.github.io"
        }
      },
      "id": "f43b7ecd-2be6-4957-85e3-d1a63738bcae",
      "name": "Webhook GET /checklist1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2688,
        2720
      ],
      "webhookId": "b377e91d-7f9c-461a-9545-b60a10c94b14"
    },
    {
      "parameters": {
        "jsCode": "// Determine action and pull task payload.\n// GET → action defaults to 'list' (no body).\n// POST → action is in body { action: 'upsert' | 'delete', task: {...} }.\nconst input = $input.first().json;\nconst body = input.body || {};\nconst query = input.query || {};\nconst action = (body.action || query.action || 'list').toLowerCase();\nconst task = body.task || null;\nreturn [{ json: { action, task } }];"
      },
      "id": "f04e224b-c703-4af5-a4e4-2ce1ad4e3245",
      "name": "Route Action1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2896,
        2816
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "upsert",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "251005a2-8eae-49d6-9e98-015ee001615a",
      "name": "Switch by Action1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        3120,
        2816
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1dWEAkx2KkIEwfJ3ERmCpWpQF7sxdqyag7hevsv39ZRc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "tasks",
          "mode": "name"
        },
        "options": {}
      },
      "id": "3495ed9d-efb7-46f6-ad8f-ecf50d69294a",
      "name": "Sheets · Read All1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3344,
        2608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tZSfYfxkpH5L34wG",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sheet (монгол) → app (english code) хөрвүүлэлт.\nconst M2E = {\n  'ID':'id','Гарчиг':'title','Тайлбар':'desc',\n  'Салбар':'branch','Төсөл':'project',\n  'Хариуцагч':'assignee','Хамт хариуцагч':'co_assignees',\n  'Эцсийн хугацаа':'due','Чухлын зэрэг':'priority',\n  'Төлөв':'status','KPI код':'kpi_code',\n  'Үүсгэсэн ажилтан':'createdBy','Эх ID':'parent_id',\n  'Төрөл':'kind','Дамжлага':'stage',\n  'Үүсгэсэн огноо':'created','Шинэчилсэн огноо':'updated',\n};\nconst STATUS = {'Идэвхтэй':'open','Дууссан':'done','Устгасан':'deleted','Түгжээтэй':'locked'};\nconst PRIORITY = {'Бага':'low','Дунд':'med','Өндөр':'high'};\nconst BRANCH = {'M Event':'m-event','NOMAAD Camp':'camp','Нэгдсэн':'shared','Бэлтгэл':'production'};\nconst KIND = {'Эх захиалга':'act_parent','Дамжлага':'act_stage'};\nconst DECISION = {'Хүлээгдэж буй':'pending','Зөвшөөрсөн':'approved','Татгалзсан':'rejected','Хойшлуулсан':'deferred'};\nconst xlate = (v,m) => (v && m[v] != null) ? m[v] : v;\nconst rows = $input.all().map(it => {\n  const src = it.json || {};\n  const out = {};\n  for (const k of Object.keys(src)) out[M2E[k] || k] = src[k];\n  if (typeof out.co_assignees === 'string') {\n    out.co_assignees = out.co_assignees ? out.co_assignees.split(',').map(s=>s.trim()).filter(Boolean) : [];\n  }\n  out.status   = xlate(out.status, STATUS);\n  out.priority = xlate(out.priority, PRIORITY);\n  out.branch   = xlate(out.branch, BRANCH);\n  out.kind     = xlate(out.kind, KIND);\n  out.decision = xlate(out.decision, DECISION);\n  return out;\n});\nconst tasks = rows.filter(r => r && r.id && r.status !== 'deleted');\nreturn [{ json: { tasks } }];"
      },
      "id": "a2c437e2-7097-4a8e-9f34-6ffd9dcf56d1",
      "name": "Aggregate Tasks1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3568,
        2608
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dWEAkx2KkIEwfJ3ERmCpWpQF7sxdqyag7hevsv39ZRc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "tasks",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Route Action1').item.json.task.id }}",
            "Гарчиг": "={{ $('Route Action1').item.json.task.title }}",
            "Тайлбар": "={{ $('Route Action1').item.json.task.desc }}",
            "Салбар": "={{ $('Route Action1').item.json.task.branch }}",
            "Төсөл": "={{ $('Route Action1').item.json.task.project }}",
            "Хариуцагч": "={{ $('Route Action1').item.json.task.assignee }}",
            "Хамт хариуцагч": "={{ ($('Route Action1').item.json.task.co_assignees || []).join(',') }}",
            "Эцсийн хугацаа": "={{ $('Route Action1').item.json.task.due }}",
            "Чухлын зэрэг": "={{ $('Route Action1').item.json.task.priority }}",
            "Төлөв": "={{ $('Route Action1').item.json.task.status }}",
            "KPI код": "={{ $('Route Action1').item.json.task.kpi_code }}",
            "Үүсгэсэн ажилтан": "={{ $('Route Action1').item.json.task.createdBy }}",
            "Эх ID": "={{ $('Route Action1').item.json.task.parent_id }}",
            "Төрөл": "={{ $('Route Action1').item.json.task.kind }}",
            "Дамжлага": "={{ $('Route Action1').item.json.task.stage }}",
            "Үүсгэсэн огноо": "={{ $('Route Action1').item.json.task.created }}",
            "Шинэчилсэн огноо": "={{ $now.toISO() }}",
            "Тодруулга": "={{ ($('Route Action1').item.json.task.comments && $('Route Action1').item.json.task.comments[0] && $('Route Action1').item.json.task.comments[0].text) || '' }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Гарчиг",
              "displayName": "Гарчиг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тайлбар",
              "displayName": "Тайлбар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тодруулга",
              "displayName": "Тодруулга",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Салбар",
              "displayName": "Салбар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төсөл",
              "displayName": "Төсөл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хариуцагч",
              "displayName": "Хариуцагч",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хамт хариуцагч",
              "displayName": "Хамт хариуцагч",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Эцсийн хугацаа",
              "displayName": "Эцсийн хугацаа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Чухлын зэрэг",
              "displayName": "Чухлын зэрэг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төлөв",
              "displayName": "Төлөв",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "KPI код",
              "displayName": "KPI код",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Үүсгэсэн ажилтан",
              "displayName": "Үүсгэсэн ажилтан",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Эх ID",
              "displayName": "Эх ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төрөл",
              "displayName": "Төрөл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дамжлага",
              "displayName": "Дамжлага",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Үүсгэсэн огноо",
              "displayName": "Үүсгэсэн огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Шинэчилсэн огноо",
              "displayName": "Шинэчилсэн огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "20eae561-ee21-4ac3-b2ee-959473274347",
      "name": "Sheets · Upsert1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3344,
        2816
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tZSfYfxkpH5L34wG",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// For delete, build a soft-delete payload: same task with status='deleted'.\n// We'll pipe this into appendOrUpdate just like upsert.\nconst t = $('Route Action1').item.json.task;\nif (!t || !t.id) return [];\nreturn [{ json: { task: { ...t, status: 'deleted' } } }];"
      },
      "id": "30302ca4-cf8d-44a9-8578-ba372a1cfd17",
      "name": "Mark As Deleted1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3344,
        3008
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1dWEAkx2KkIEwfJ3ERmCpWpQF7sxdqyag7hevsv39ZRc",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "tasks",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.task.id }}",
            "Төлөв": "Устгасан",
            "Шинэчилсэн огноо": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Гарчиг",
              "displayName": "Гарчиг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Тайлбар",
              "displayName": "Тайлбар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Салбар",
              "displayName": "Салбар",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төсөл",
              "displayName": "Төсөл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хариуцагч",
              "displayName": "Хариуцагч",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Хамт хариуцагч",
              "displayName": "Хамт хариуцагч",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Эцсийн хугацаа",
              "displayName": "Эцсийн хугацаа",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Чухлын зэрэг",
              "displayName": "Чухлын зэрэг",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төлөв",
              "displayName": "Төлөв",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "KPI код",
              "displayName": "KPI код",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Үүсгэсэн ажилтан",
              "displayName": "Үүсгэсэн ажилтан",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Эх ID",
              "displayName": "Эх ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Төрөл",
              "displayName": "Төрөл",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Дамжлага",
              "displayName": "Дамжлага",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Үүсгэсэн огноо",
              "displayName": "Үүсгэсэн огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Шинэчилсэн огноо",
              "displayName": "Шинэчилсэн огноо",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "d8cdf61c-536c-46b2-8b27-ab17a49237bb",
      "name": "Sheets · Soft Delete1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        3568,
        3008
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "tZSfYfxkpH5L34wG",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "0e7a1985-3a5e-4de2-9832-5dd6298780cb",
      "name": "Respond List1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3792,
        2608
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, task: $('Route Action1').item.json.task }) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "GET,POST,OPTIONS"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type"
              }
            ]
          }
        }
      },
      "id": "eb92ed6f-47ac-41e8-a3a9-a5694b59981e",
      "name": "Respond OK1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        3792,
        2912
      ]
    }
  ],
  "pinData": {
    "Webhook POST /checklist1": [
      {
        "json": {
          "headers": {
            "host": "chimunllc.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/148.0.0.0 Safari/537.36",
            "content-length": "974",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-US,en;q=0.9,mn;q=0.8",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2405:5700:304:4fd5:c80c:d403:da0a:a218",
            "cf-ew-via": "15",
            "cf-ipcountry": "MN",
            "cf-ray": "a0122206ee1e1551-ULN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://chimunllc.github.io",
            "priority": "u=1, i",
            "referer": "https://chimunllc.github.io/",
            "sec-ch-ua": "\"Chromium\";v=\"148\", \"Google Chrome\";v=\"148\", \"Not/A)Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2405:5700:304:4fd5:c80c:d403:da0a:a218, 172.69.252.189",
            "x-forwarded-host": "chimunllc.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-68-7c7c9cfb8b-r92f7",
            "x-is-trusted": "yes",
            "x-real-ip": "2405:5700:304:4fd5:c80c:d403:da0a:a218"
          },
          "params": {},
          "query": {},
          "body": {
            "action": "upsert",
            "task": {
              "row_number": 3,
              "id": "t_w1vuals7mpkrk506",
              "title": "Шэйр хийх",
              "desc": "Өчигдөрийн пост",
              "branch": "NOMAAD Camp",
              "project": "pre-season",
              "assignee": "О.Түвдэндаржаа",
              "co_assignees": [],
              "due": "2026-05-25",
              "priority": "Өндөр",
              "status": "Идэвхтэй",
              "kpi_code": "",
              "createdBy": "Г.Мөнх-Учрал",
              "parent_id": "",
              "kind": "",
              "stage": "",
              "created": "2026-05-25T05:26:21.270Z",
              "updated": "2026-05-25T13:26:23.399+08:00",
              "comments": [
                {
                  "id": "mmgx00",
                  "author": "S02",
                  "text": "пост link өгөөч",
                  "timestamp": 1779686864357,
                  "file_url": null,
                  "mentions": []
                },
                {
                  "id": "uwdv60",
                  "author": "S02",
                  "text": "пост link өгөөч",
                  "timestamp": 1779686866946,
                  "file_url": null,
                  "mentions": []
                }
              ],
              "activity": [
                {
                  "id": "681xms",
                  "actor": "S02",
                  "action": "comment_added",
                  "timestamp": 1779686864357,
                  "details": {
                    "commentId": "mmgx00"
                  }
                },
                {
                  "id": "19uga8",
                  "actor": "S02",
                  "action": "comment_added",
                  "timestamp": 1779686866946,
                  "details": {
                    "commentId": "uwdv60"
                  }
                }
              ]
            }
          },
          "webhookUrl": "https://chimunllc.app.n8n.cloud/webhook/checklist",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook POST /checklist1": {
      "main": [
        [
          {
            "node": "Route Action1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook GET /checklist1": {
      "main": [
        [
          {
            "node": "Route Action1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Action1": {
      "main": [
        [
          {
            "node": "Switch by Action1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch by Action1": {
      "main": [
        [
          {
            "node": "Sheets · Read All1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sheets · Upsert1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Mark As Deleted1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets · Read All1": {
      "main": [
        [
          {
            "node": "Aggregate Tasks1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Tasks1": {
      "main": [
        [
          {
            "node": "Respond List1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets · Upsert1": {
      "main": [
        [
          {
            "node": "Respond OK1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark As Deleted1": {
      "main": [
        [
          {
            "node": "Sheets · Soft Delete1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sheets · Soft Delete1": {
      "main": [
        [
          {
            "node": "Respond OK1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d24410d6-b4ac-4804-b386-a654cf2a3133",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7c325a625299bdce7c411e07485d3fffbeed3847cf9944810a5b59006dbc5928"
  },
  "id": "3BxOTQJoO223XKRz",
  "tags": [
    {
      "updatedAt": "2026-05-17T03:09:43.365Z",
      "createdAt": "2026-05-17T03:09:43.365Z",
      "id": "edcqDpFfgF362Mrc",
      "name": "chimun-tasks"
    }
  ]
}