ХЭРЭГЛЭГДЭХГҮЙ · CEO зөвшөөрөл.json
{
  "name": "Чимун · Staff Approve / Reject (CEO action)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "staff-approve",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://chimunllc.github.io"
        }
      },
      "id": "sa-webhook",
      "name": "Webhook POST /staff-approve",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-800, 200],
      "webhookId": "staff-approve-webhook"
    },
    {
      "parameters": {
        "jsCode": "// Two actions:\n//   approve_registration: { request_id, assigned_id, salary, level, notes, status='идэвхтэй', approved_by, approved_at }\n//   reject_registration:  { request_id, status='татгалзсан', rejected_by, rejected_at }\nconst body = $input.first().json.body || {};\nconst action = body.action;\nif (!['approve_registration','reject_registration'].includes(action)) {\n  return [{ json: { ok: false, error: 'Unknown action' } }];\n}\nif (!body.request_id) {\n  return [{ json: { ok: false, error: 'Missing request_id' } }];\n}\nconst isApprove = action === 'approve_registration';\nconst row = {\n  // Match column — Хүсэлтийн ID\n  'Хүсэлтийн ID': String(body.request_id),\n  // Шинэчлэгдэх багана\n  'Төлөв': body.status || (isApprove ? 'идэвхтэй' : 'татгалзсан'),\n};\nif (isApprove) {\n  if (body.assigned_id) row['ID'] = String(body.assigned_id).toUpperCase();\n  if (body.salary != null) row['Цалин'] = String(body.salary);\n  if (body.level != null) row['Зэрэглэл'] = Number(body.level) || 40;\n  if (body.notes) row['CEO тэмдэглэл'] = body.notes;\n  row['Орсон огноо'] = new Date().toISOString().slice(0, 10);\n  row['Зөвшөөрсөн'] = body.approved_by || '';\n  row['Зөвшөөрсөн огноо'] = body.approved_at || new Date().toISOString();\n} else {\n  row['Татгалзсан'] = body.rejected_by || '';\n  row['Татгалзсан огноо'] = body.rejected_at || new Date().toISOString();\n  if (body.reason) row['Татгалзах шалтгаан'] = body.reason;\n}\nreturn [{ json: row }];"
      },
      "id": "sa-parse",
      "name": "Build update row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-560, 200]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1so0IBwfok7_Tss3y25a-40qybGe9SGHimkuXrihuWvM",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 451955481,
          "mode": "id"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "matchingColumns": ["Хүсэлтийн ID"],
          "schema": [
            { "id": "Хүсэлтийн ID", "displayName": "Хүсэлтийн ID", "type": "string", "canBeUsedToMatch": true }
          ]
        },
        "options": {}
      },
      "id": "sa-sheets-update",
      "name": "Sheet · Update by Хүсэлтийн ID",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [-320, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, action: 'updated', request_id: $json['Хүсэлтийн ID'], status: $json['Төлөв'] }) }}"
      },
      "id": "sa-respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-80, 200]
    }
  ],
  "connections": {
    "Webhook POST /staff-approve": {
      "main": [[{ "node": "Build update row", "type": "main", "index": 0 }]]
    },
    "Build update row": {
      "main": [[{ "node": "Sheet · Update by Хүсэлтийн ID", "type": "main", "index": 0 }]]
    },
    "Sheet · Update by Хүсэлтийн ID": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false,
  "_setup_instructions": [
    "ЗОРИУЛАЛТ:",
    "  CEO Staff Management modal-аас 'Зөвшөөрч бүртгэх' эсвэл 'Татгалзах' дарахад дуудагдана.",
    "  Hidden field — request_id (Хүсэлтийн ID). Тэр баганаар Master Sheet дээр row олдоно.",
    "",
    "SHEET-Д БАЙХ ЁСТОЙ БАГАНУУД:",
    "  Хүсэлтийн ID  (match column)",
    "  ID            (CEO assigned: M01, C07 г.м.)",
    "  Төлөв         ('идэвхтэй' / 'татгалзсан')",
    "  Цалин",
    "  Зэрэглэл      (40/60/80/100)",
    "  CEO тэмдэглэл",
    "  Орсон огноо",
    "  Зөвшөөрсөн",
    "  Зөвшөөрсөн огноо",
    "  Татгалзсан, Татгалзсан огноо, Татгалзах шалтгаан",
    "",
    "SETUP:",
    "  1. n8n-д import хийнэ.",
    "  2. Sheet node-нд:",
    "     - Document: Master Sheet",
    "     - Sheet: GID 451955481 (ажилтны хуудас)",
    "     - Operation: Update Row",
    "     - Column to Match On: Хүсэлтийн ID",
    "     - mappingMode: autoMapInputData (Code node-аас гарсан бүх key автомат map хийгдэнэ)",
    "  3. Activate."
  ]
}
